<<<<<<< HEAD
body {
  font-weight: bold;
  color: darkblue;
}
=======
@import "~bootstrap-scss";


.container {
    max-width: 1440px;
    max-height: 1406px;
    background-color: #F6F7F8;
    margin: 0 auto;
}

@mixin CardSmall-2 {
  width: 380px;
  height: 436px;
  margin: 10px 130px 10px 10px;
  border: 1px solid #EFEFEF;
  border-radius: 8px;
  background-color: #FFFFFF;
  font-family: 'Rubik', sans-serif;
  line-height: 160%;
  box-shadow: 0px 15px 60px rgba(200, 200, 200, 0.25);
}
@mixin CardSmall() {
  width: 380px;
  height: 436px;
  margin: 60px 10px 10px 130px;
  border: 1px solid #EFEFEF;
  border-radius: 8px;
  background-color: #FFFFFF;
  font-family: 'Rubik', sans-serif;
  line-height: 160%;
  box-shadow: 0px 15px 60px rgba(200, 200, 200, 0.25);
}
@mixin CardBig-2 {
  width: 780px;
  height: 349px;
  margin: 10px 10px 10px 130px;
  border: 1px solid #EFEFEF;
  border-radius: 8px;
  background-color: #FFFFFF;
  font-family: 'Rubik', sans-serif;
  line-height: 160%;
  box-shadow: 0px 15px 60px rgba(200, 200, 200, 0.25);
}
@mixin CardBig() {
  width: 780px;
  height: 349px;
  margin: 147px 130px 10px 10px;
  border: 1px solid #EFEFEF;
  border-radius: 8px;
  background-color: #FFFFFF;
  font-family: 'Rubik', sans-serif;
  line-height: 160%;
  box-shadow: 0px 15px 60px rgba(200, 200, 200, 0.25);
}
.name {
  font-size: 18px;
  font-family:'Ramabhadra', sans-serif;
  font-weight: 700;
  margin: 0;
}
.company {
  font-size: 14px;
  color: #A5A5A5;
  margin: 0;
}
/* First row*/
.col-left-first-row, .col-right-first-row {
  padding: 0;
}

/*Small card left Dianne Wilson*/
.card-small-dianne {
  @include CardSmall;
  padding: 0;
}
@media screen and (max-width: 1439.98px) {
  .card-small-dianne {
    width: 96%;
    height: 95%;
    margin: 10px auto;
  }
}
#oysho-img-dianne {
  width: 78px;
  height: 54px;
  margin: 16px 0 20px;
}
.content-card-small {
  margin: 0;
  padding: 0 32px;
}
.text-content-card-small {
  margin: 0;
}
.card-img-bottom {
  margin: 0 auto;
}
#dianne-img {
  width: 46px;
  height: 46px;
  float: left;
  margin: 56px 12px 32px 32px;
}
.text-bottom-dianne {
  margin-top: 55px;
}
/*Dianne Wilson*/

/*Big card right Jorge Richards*/
.card-big {
  @include CardBig;
  box-shadow: 0px 50px 60px rgba(95, 95, 95, 0.25);
  padding: 0;
}
@media screen and (max-width: 1439.98px) {
  .card-big {
    width: 96%;
    height: 95%;
    margin: 10px auto;
  }
}
.content-card-big {
  margin: 32px 32px 24px;
}
.text-content-card-big {
  margin: 0;
}
.name-and-company {
  margin:0 0 32px 0;
}
.images-inline {
  margin: 0 auto;
}
#jorge {
  width: 72px;
  height: 72px;
}
.jorge-img {
  width: 56px;
  height: 56px;
  margin: 0 10px 48px;
}
/*Jorge Richards*/

/*Second Row*/

/*Card big left Diane Robertson*/
.card-big-2-smaller {
  @include CardBig-2;
  height: 300px;
  margin-bottom: 0;
  padding: 0;
}
@media screen and (max-width: 1439.98px) {
  .card-big-2-smaller {
    width: 95%;
    height: 98%;
    margin: 10px;
    padding-bottom: 20px;
  }
}
.card-img-top {
  margin: 0 auto;
}
#robertson-img {
  width: 72px;
  height: 72px;
  margin: 32px 24px 28px 32px;
}
@media screen and (min-width: 310px) and (max-width: 374.98px){
  #robertson-img {
    margin-right: 0;
  }
}
.text-top-robertson {
  margin-top: 41px;
}
.content-card-big-robertson {
  margin: 0 32px;
}
.image-right-top {
  width: 50%;
}
#starbucks-img {
  width: 196px;
  height: 31px;
  margin: 53px 32px 48px 44px;
}
@media screen and (max-width: 1439.98px) {
  #starbucks-img {
    display: none;
  }
}
.inner-first-row-left {
  position: relative;
  margin-bottom: 16px;
}
@media screen and (max-width: 1439.98px) {
  .inner-first-row-left {
    margin-bottom: 0;
  }
}

.empty {
  width: 740px;
  height: 300px;
  background-color: #FFFFFF;
  border: 1px solid #EFEFEF;
  border-radius: 8px;
  position: absolute;
  z-index: 0;
  right: 30px;
  top: 26px;
}
@media screen and (max-width: 1439.98px) {
  .empty {
    display: none;
  }
}
/*Diane Robertson*/

/*Card small right Darrel Black*/
.card-small-2 {
  @include CardSmall-2;
  padding: 0;
}
@media screen and (max-width: 1439.98px) {
  .card-small-2 {
    width: 98%;
    height: 98%;
    margin: 10px;
  }
}
#darrell-img {
  width: 46px;
  height: 46px;
  float: left;
  margin: 32px 12px 32px 32px;
}
.text-top {
  margin: 32px 0 ;
}
#oysho-img-darrel {
  margin-bottom:16px;
  margin-top: 48px;
  width: 78px;
  height: 54px;
}
.text-content-card-small {
  margin: 0;
}
/*Darrel Black*/

/*Third row*/

/*Card big left Tomothy Hawkins*/
.card-big-2 {
  @include CardBig-2;
  padding: 0;
}
@media screen and (max-width: 1439.98px) {
  .card-big-2 {
    width: 98%;
    height: 98%;
    margin: 10px;
  }
}
.card-img-top {
  margin: 0 auto;
}
#tomothy-img {
  width: 101px;
  height: 101px;
  position: absolute;
  top: 5%;
  left: 51%;
  z-index: 1;
  justify-content: center;
}
@media screen and (max-width: 1439.98px) {
  #tomothy-img {
    left: 50%;
    transform: translateX(-50%);
  }
}
.card-big-2 {
  margin-top: 44px;
}
.inner-second-row-left {
  position: relative;
}
.tomothy-desc {
  margin-top: 95px;
}
/*Tomothy Hawkins*/

/*Card small right Floyd Murphy*/
.card-small-3 {
  @include CardSmall-2;
  height: 374px;
  padding: 0;
}
@media screen and (max-width: 1439.98px) {
  .card-small-3 {
    width: 98%;
    height: 98%;
    margin: 10px;
  }
}
.content-card-small-floyd {
  margin: 24px 0 0;
  padding: 0 32px;
}
.text-bottom-last {
  border-left: 4px solid yellow;
  margin: 56px 32px 32px 32px;
  padding-left: 16px;
}
#oysho-img-3 {
  width: 78px;
  height: 54px;
  margin: 52px 32px 28px 32px;
}
@media screen and (max-width: 374.98px) {
  #oysho-img-3 {
   display: none;
  }
}

/*Floyd Murphy*/



>>>>>>> 546bf780f7af931547c10eeddf5f3c3905bc698e
